body{background-image: url(realmadrid/5.jpg);background-repeat: no-repeat;
    background-size: cover;
    opacity: unset;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 1.8;
    font-weight: normal;
    color: rgb(202, 194, 194);
    list-style: none;
    background-color: rgb(60 145 186);
}
.overlay-content{
box-shadow: white;
justify-content: space-between;
text-align: center;
position: relative;
margin-top: 30px;
flex-direction: column;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
}
li{
    list-style: none;
    text-align: center;
    margin: auto 0;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    background-color: azure;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
ul{
    text-align: center;
}
li a{
    text-decoration: none;
    color:#9cb004;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.78em;
  letter-spacing: .2em
}
li a:hover{
    color:rgb(255, 255, 255);
  }
  .logo a{
    color:#bbb;
    font-size: 0.78em;
    text-decoration: none;
    text-transform: uppercase;
}
h1{
    font-size: 50px;
    color: rgb(250, 250, 250);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    height: 30px;
    color: rgb(122, 118, 118);
    padding: 5px;
    height: 80px;
    margin: 0%;
   font: italic;
    font-size: 30px;
    border-color: aliceblue;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
nav li {
    display:inline;
    padding-right:20px;
}
nav a:link {
     color: rgb(255, 255, 255);
    }
                
nav a:visited {
     color:rgba(6, 71, 236, 0.648);
}
nav a {
    text-decoration: none;
    }
nav a:hover {
    background-color: rgba(255, 250, 250, 0.782);
    color: rgb(0, 72, 255);
  box-shadow: 0 0 25px 5px rgb(255, 255, 255);
}
.nature{
        max-width: 1000px;
        margin: auto;
      }
  
