table{
    width: 75%;
    margin: auto;
    border-spacing: 0px;
}
td,th{
    border-style: solid;
    padding: 10px;
}
th{
    background-color: #0526647d;
}
caption{
   font-family: Georgia, 'Times New Roman', Times, serif; 
   font-size: 100px;
}
h1{
    font-size: 100px;
    text-align: center;
}